html {
	background: url(../images/hero-image.jpg) no-repeat center center fixed;
	background-size: cover;
}


.title {
	width: 100%;
	height: 80px;
}

.button {
	display: block;
	width: 300px;
	height: 80px;
	padding: 20px;
	background-color: $dark-ocean-blue;
	color: $snow-blue;
	border: 1px solid $snow-blue;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
	opacity: 0.7;
}

header {
	// Main Nav Bar
	@extend .title;
	background-color: $dark-ocean-blue;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;

	// Logo
	h1 {
		float: left;
		font-size: 32px;
		padding: 19px;
		color: $dark-snow-blue;
		font-weight: 700;
	}

    ul {
        display: none;
    }

	// Hamburger Menu
	.fa-bars {
		display: inline-block;
		padding: 24px;
		float: right;
		font-size: 32px;
		color: $snow-blue;
		display: inline;
	}
}

.hero {
	// Full screen hero
	height: 100vh;
    position: relative;
	// Call to Action Button
	a {
		@extend .button;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -40px;
		margin-left: -150px;

	}
}

.portfolio {
	// Portfolio Header
	@extend .title;
	background-color: $ocean-blue;
	text-align: center;
	height: 100%;

	h2 {
		padding: 20px;
		color: $snow-blue;
	}	
}

// Portfolio Item Title & Description
.summary {
	text-align: left;
	padding: 0 20px;
	height: 500px;
	background-color: white;
	padding-top: 80px;
	padding-bottom: 80px;
	
	h3 {
		padding-bottom: 20px;
		color: $ocean-blue;		
	}
	
	p {
		font-size: 16px;
		color: $medium-blue;
		@include line-height(16px);	
	
	}	

}

//Portfolio Item Image & Call To Action
.learn-more {
	//width: 100%;
	height: 500px;
	background: url("//unsplash.it/600/500/?random") no-repeat center center;
    background-size: cover;
	a {
		@extend .button;
		text-align: center;
		margin: 0 auto;
		margin-top: 190px;
	}

}


.contact {
	// Contact Header
	text-align: center;

    .title {
        @extend .title;
        background-color: $ocean-blue;
    }

	h2 {
		padding: 20px;
		color: $snow-blue;
	}

	// Contact Form Styling
	form {
			margin-top: 100px;
			margin-bottom: 100px;

		input {
			display: block;
			width: 90%;
			margin: 0 auto;
			height: 80px;
			background-color: $snow-blue;
			color: $dark-ocean-blue;
			border: 1px solid $dark-ocean-blue;
			margin-top: 5px;
			padding-left: 20px;
		}

		::-webkit-input-placeholder {
			color: $dark-ocean-blue;
			font-weight: 800;
			
		}

		textarea {
			display: block;
			margin: 0 auto;
			width: 90%;
			height: 300px;
			background-color: $snow-blue;
			color: $dark-ocean-blue;
			border: 1px solid $dark-ocean-blue;
			margin-top: 5px;
			padding-top: 20px;
			outline: none;
			padding-left: 20px;
		}
		

		input[type=submit] {
			background-color: $dark-ocean-blue;
			color: $snow-blue;
			border: 1px solid $snow-blue;
			text-decoration: none;
			text-align: center;
			padding: 20px;
			font-size: 24px;
			font-weight: 700;
			opacity: 0.7;
			margin: 0 auto;
			margin-top: 5px;
		}
	}
}


footer {

    // Footer Styling
	@extend .title;
	background-color: $dark-ocean-blue;
	//margin-top: 750px;

    // Copyright ©
	h4 {
		padding-top: 29px;
		padding-left: 20px;
		color: $snow-blue;
		float: left;
	}

    // Github and Codepen Icon
	.fa {
		display: inline;
		float: right;
		color: $snow-blue;
		padding-top: 26px;
		padding-right: 20px;
		font-size: 24px;
	}
}

// Above mobile styles
@media (min-width: 600px){

    .summary {
        padding: 100px;
        height: 500px;
        width: 100%;

        h3 {
            //padding: 0px;
        }
    }

    .form-wrapper {
        margin: 0 auto;
        width: 500px;
    }
    header {
        .fa-bars {
            display: none;
        }

        ul {
            display: inline;
            float: right;
            list-style-type: none;
            margin: 0;
            padding: 26px;
        }

        li {
            display: inline;
        }

        a {
            text-decoration: none;
            color: $dark-snow-blue;
            font-weight: 700;
            font-size: 20px;
            margin-left: 20px;
        }



    }

}